
<div class="section__container">
  <{{section-heading}}>Cennik</{{section-heading}}>
  <{{article-heading}}>Usługi abonamentowe</{{article-heading}}>


  <div class="cennik__container">
    <ul class="cennik__row cennik__header">
      <li class="cennik__item cennik__item--4"></li>
      <li class="cennik__item cennik__item--4">3 mycia</li>
      <li class="cennik__item cennik__item--4">6 myć</li>
      <li class="cennik__item cennik__item--4">12 myć</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--4">Grób dziecięcy</li>
      <li class="cennik__item cennik__item--4">75 zł</li>
      <li class="cennik__item cennik__item--4">140 zł</li>
      <li class="cennik__item cennik__item--4">250 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--4">Grób pojedynczy mały</li>
      <li class="cennik__item cennik__item--4">100 zł</li>
      <li class="cennik__item cennik__item--4">180 zł</li>
      <li class="cennik__item cennik__item--4">320 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--4">Grób pojedynczy średni</li>
      <li class="cennik__item cennik__item--4">140 zł</li>
      <li class="cennik__item cennik__item--4">250 zł</li>
      <li class="cennik__item cennik__item--4">450 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--4">Grób rodzinny</li>
      <li class="cennik__item cennik__item--4">200 zł</li>
      <li class="cennik__item cennik__item--4">360 zł</li>
      <li class="cennik__item cennik__item--4">680 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--4">Krypty grobowe</li>
      <li class="cennik__item cennik__item--4">300 zł</li>
      <li class="cennik__item cennik__item--4">550 zł</li>
      <li class="cennik__item cennik__item--4">1000 zł</li>
    </ul>
  </div>

  <{{article-heading}}>Usługa jednorazowa</{{article-heading}}>

  <div class="cennik__container">
    <ul class="cennik__row cennik__header">
      <li class="cennik__item cennik__item--3"></li>
      <li class="cennik__item cennik__item--3">Sprzątanie i mycie</li>
      <li class="cennik__item cennik__item--3">Polerowanie (wosk)</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Grób dziecięcy</li>
      <li class="cennik__item cennik__item--3">30 zł</li>
      <li class="cennik__item cennik__item--3">+ 25 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Grób pojedynczy mały</li>
      <li class="cennik__item cennik__item--3">40 zł</li>
      <li class="cennik__item cennik__item--3">+ 25 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Grób pojedynczy średni</li>
      <li class="cennik__item cennik__item--3">50 zł</li>
      <li class="cennik__item cennik__item--3">+ 35 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Grób rodzinny</li>
      <li class="cennik__item cennik__item--3">75 zł</li>
      <li class="cennik__item cennik__item--3">+ 45 zł</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Krypty grobowe</li>
      <li class="cennik__item cennik__item--3">+ 110 zł</li>
      <li class="cennik__item cennik__item--3">+ 60 zł</li>
    </ul>
  </div>

  <p class="text-bold">***W skład usługi sprzątania grobu wchodzi również jego mycie, które jest najczęściej usługą płatną gdzie indziej.</p>

  <{{article-heading}}>Dodatki</{{article-heading}}>

  <div class="cennik__container cennik__small">
    <ul class="cennik__row cennik__header">
      <li class="cennik__item cennik__item--5"></li>
      <li class="cennik__item cennik__item--5">Małe</li>
      <li class="cennik__item cennik__item--5">Średnie</li>
      <li class="cennik__item cennik__item--5">Duże</li>
      <li class="cennik__item cennik__item--5">Bardzo duże</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--5">Znicze</li>
      <li class="cennik__item cennik__item--5">5 zł</li>
      <li class="cennik__item cennik__item--5">10 zł</li>
      <li class="cennik__item cennik__item--5">15 zł</li>
      <li class="cennik__item cennik__item--5">25 zł</li>
    </ul>
  </div>  

  <div class="cennik__container cennik__small">
    <ul class="cennik__row cennik__header">
      <li class="cennik__item cennik__item--3"></li>
      <li class="cennik__item cennik__item--3">Prawdziwe</li>
      <li class="cennik__item cennik__item--3">Sztuczne</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Kwiaty</li>
      <li class="cennik__item cennik__item--3">Proszę o kontakt</li>
      <li class="cennik__item cennik__item--3">Proszę o kontakt</li>
    </ul>
  </div>  

  <div class="cennik__container cennik__small">
    <ul class="cennik__row cennik__header">
      <li class="cennik__item cennik__item--3"></li>
      <li class="cennik__item cennik__item--3">Email</li>
      <li class="cennik__item cennik__item--3">Poczta</li>
    </ul>
    <ul class="cennik__row">
      <li class="cennik__item cennik__item--3">Dokumentacja fotograficzna</li>
      <li class="cennik__item cennik__item--3">Gratis</li>
      <li class="cennik__item cennik__item--3">10 zł / szt. plus wysyłka</li>
    </ul>
  </div>  


</div>
