
<div class="section__container">
  <{{section-heading}}>O firmie</{{section-heading}}>
  <div class="logo">
  </div>
  
  <article class="article__container">
    <{{article-heading}}>Cel i wartości</{{article-heading}}>
    
    <p>Jesteśmy niewielką starachowicką firmą, świadczącą całkowity zakres usług opieki nad grobami.
      Traktujemy naszą pracę bardzo poważnie i robimy to na najwyższym poziomie w bardzo dobrej cenie.</p>
      
    <div class="img-container">
      <img src="{{root}}/assets/img/opieka-nad-grobami-logo.png" alt="Sprzątanie oraz opieka nad grobami" title="Opieka nad grobami Starachowice">
    </div>
  
    <p>Za nasz największy sukces uważamy doskonałe relacje z naszymi klientami wypracowane w okresie 5 lat istnienia firmy. 
      Mieliśmy przyjemność współpracować z ludźmi z całego świata, a ich rekomendacje oraz polecanie nas ich znajomym i rodzinie są najlepszymi dowodami na to, że rozwijamy się jako firma, świadcząc coraz to lepszą jakość usług.</p>
  </article>

</div>