
<div class="hero__container">
  <div class="img-container">
    <img src="assets/img/sprzatanie-grobow-zdjecie.png" alt="Opieka nad grobami Starachowice" title="Sprzątanie grobów">
  </div>
  <h1 class="site-heading">
    <span class="hero__big">Kompleksowa</span>
    <span class="hero__small">
      <span class="hero__white">Opieka Nad</span>
      <span class="hero__black">Grobami</span>

      <form ></form>

    </span>
  </h1>

  <div class="hero__cta">
    <div class="buttons">
      <span>Zadzwoń teraz</span>
      <!-- <a href="tel:&#x2b;&#52;&#x38;&#55;&#x38;&#x38;&#52;&#55;&#x39;&#x37;&#x38;&#x39;"><i class="fi-telephone"></i></a> -->

      <a href="tel:&#x2b;&#x34;&#x38;&#54;&#x39;&#x36;&#53;&#x38;&#51;&#55;&#x33;&#57;"><i class="fi-telephone"></i></a>
    </div>
    <div class="buttons" data-smooth-scroll>
      <span>Napisz</span>
      <a target="_top" href="#contact-form"><i class="fi-mail"></i></a>
    </div>
  </div>

</div>

