
<div class="section__container">
  <{{section-heading}}>Oferta</{{section-heading}}>
  <{{article-heading}}>Usługi podstawowe</{{article-heading}}>

  <ul class="list">
    <li class="list__item list__item--plus">Sprzątanie grobów</li>
    <li class="list__item list__item--plus">Mycie grobów</li>
    <li class="list__item list__item--plus">Zapalanie zniczy</li>
    <li class="list__item list__item--plus">Odśnieżanie</li>
    <li class="list__item list__item--plus">Sprzątanie po pogrzebie</li>
    <li class="list__item list__item--plus">Złożenie kwiatów</li>
    <li class="list__item list__item--plus">Naprawa nagrobka</li>
    <li class="list__item list__item--plus">Obsypywanie grysem</li>
  </ul>

  <p class="text-bold">***Nie ograniczamy się tylko do opieki nad grobami. Zajmujemy się znacznie szerszym zakresem usług, którymi mogą być Państwo zainteresowani.</p>

  <{{article-heading}}>Usługi dodatkowe</{{article-heading}}>

  <ul class="list">
    <li class="list__item list__item--plus">Wymiana lub naprawa ławeczek</li>
    <li class="list__item list__item--plus">Naprawa betonu przed grobem</li>
    <li class="list__item list__item--plus">Renowacja liter</li>
    <li class="list__item list__item--plus">Pielęgnacja trawników</li>
  </ul>
  

</div>