
<div class="section__container">
  <{{section-heading}}>O nas</{{section-heading}}>

  <div class="orbit slides" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">

      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>

    </div>
    
    <ul class="orbit-container">

      <li class="orbit-slide is-active">
        <div class="slides__container">
          <p class="slides__text">Są rzetelni i uczciwi. Współpracujemy już od dwóch lat. Po każdym sprzątaniu otrzymuję zdjęcie, a wszystko to po bardzo atrakcyjnej cenie. Gorąco POLECAM!!</p>
          <div class="slides__person">
            <span class="slides__name">Monika</span>
            <span class="slides__city">Wrocław</span>
          </div>
        </div>
      </li>

      <li class="orbit-slide is-active">
        <div class="slides__container">
          <p class="slides__text">Usługę sprzątania grobów w firmie Pana Piotra zamawiam już od ponad roku. Kilkukrotnie byłam osobiście na cmentarzu u mamy i muszę przyznać, że stan nagrobka był taki jak przedstawiony na zdjęciach.</p>
          <div class="slides__person">
            <span class="slides__name">Gosia</span>
            <span class="slides__city">Opole</span>
          </div>
        </div>
      </li>

      <li class="orbit-slide is-active">
        <div class="slides__container">
          <p class="slides__text">Jestem klientem tej firmy od 2.5 roku. Jest szybko, konkretnie i z najwyższą starannością.</p>
          <div class="slides__person">
            <span class="slides__name">Krzysztof</span>
            <span class="slides__city">Berlin</span>
          </div>
        </div>
      </li>

    </ul>

    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">Pierwsza opinia klienta</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Druga opinia klienta</span></button>
      <button data-slide="2"><span class="show-for-sr">Trzecia opinia klienta</span></button>
    </nav>

  </div>

</div>