
<div class="section__container">
  <{{section-heading}}>Dni i godziny otwarcia</{{section-heading}}>

  <div class="open">

    <article class="article__container open__days">
      <div class="img-container">
        <i class="fi-telephone"></i>
      </div>
      <{{article-heading}}>Telefon</{{article-heading}}>
      <p>Tel: +48 696 583 739</p>
      <p>08:00 - 22:00</p>
      <p>7 dni w tygodniu</p>
    </article>

    <article class="article__container open__days">
      <div class="img-container">
        <i class="fi-mail"></i>
      </div>
      <{{article-heading}}>Email</{{article-heading}}>
      <p>Email: opieka.nad.grobami.st.ce@gmail.com</p>
      <p>Całą dobę</p>
      <p>7 dni w tygodniu</p>
    </article>

  </div>

</div>