
<div class="section__container">
  <{{section-heading}}>Nasz zasięg</{{section-heading}}>

  <p>Działamy na terenie powiatu starachowickiego, skarżyskiego, ostrowieckiego oraz okolic.</p>

  <figure class="map">
    <div class="map__container">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dC55ajdv9J0oVoO92cu6JsQx74G7QypV"></iframe>
    </div>
    <figcaption class="map__desc">Powiat starachowicki, skarżyski oraz ostrowiecki</figcaption>
  </figure>

  <article class="article__container">
    <{{article-heading}}>Realizacja zamówienia</{{article-heading}}>
    
    <p>Usługa sprzątania grobów jak i pozostałe, zazwyczaj są realizowane w przeciągu 3-5 dni roboczych. Zależy to od ilości i rodzaju zamówień jak i odległości. Jednakże, w przypadku pilnych zleceń z przyjemnością je zrealizujemy już na drugi dzień.</p>  
  </article>
  
  <p class="text-bold">*** Do 15 km dojazd jest gratis. Powyżej może być naliczana dodatkowa opłata w wysokości 1.20 zł za kilometr.</p>
    
</div>